<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.IMBA.dao.course_infoMapper">
  <resultMap id="BaseResultMap" type="com.IMBA.entity.course_info">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="course_credit" jdbcType="REAL" property="courseCredit" />
    <result column="course_hour" jdbcType="TINYINT" property="courseHour" />
    <result column="course_quota" jdbcType="INTEGER" property="courseQuota" />
    <result column="classroom" jdbcType="VARCHAR" property="classroom" />
    <result column="course_type" jdbcType="CHAR" property="courseType" />
    <result column="course_year" jdbcType="VARCHAR" property="courseYear" />
  </resultMap>
  <sql id="Base_Column_List">
    id, course_name, course_credit, course_hour, course_quota, classroom, course_type, 
    course_year
  </sql>

  <resultMap id="CourseModelBaseResultMap" type="com.IMBA.model.coursemodel">
    <id property="course_id" column="id" ></id>
    <result property="course_name" column="course_name"></result>
    <result property="teacher_name" column="teacher_name"></result>
    <result property="nums" column="course_quota"></result>
  </resultMap>


  <select id="findCouseMsg" resultMap="CourseModelBaseResultMap">
    select c.id ,t.teacher_name,c.course_name,c.course_quota from course_info c, teacher t, stu_course sc ,teacher_course tc where sc.student_id=#{0} and c.course_year=#{1} and sc.course_id=c.id and tc.course_id=c.id  and tc.teacher_id=t.id

  </select>

  <select id="findcourse_hourbycourid" resultType="int" parameterType="int">
select course_hour  from course_info where  id=#{0}
</select>
  <select id="findCouseMsgbyteacherid" resultMap="CourseModelBaseResultMap">
   select c.id ,t.teacher_name,c.course_name, c.course_quota from course_info c, teacher t ,teacher_course tc where t.id=#{0} and c.course_year=#{1}  and tc.course_id=c.id  and tc.teacher_id=t.id
  </select>

  <select id="findcount" resultType="int">
    select count(*) from  course_info
  </select>




  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from course_info where id=#{id,jdbcType=INTEGER}
  </delete>
















  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.IMBA.entity.course_info">
    insert into course_info (id, course_name, course_credit, 
      course_hour, course_quota, classroom, 
      course_type, course_year)
    values (#{id,jdbcType=INTEGER}, #{courseName,jdbcType=VARCHAR}, #{courseCredit,jdbcType=REAL}, 
      #{courseHour,jdbcType=TINYINT}, #{courseQuota,jdbcType=INTEGER}, #{classroom,jdbcType=VARCHAR}, 
      #{courseType,jdbcType=CHAR}, #{courseYear,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.IMBA.entity.course_info">
    insert into course_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="courseName != null">
        course_name,
      </if>
      <if test="courseCredit != null">
        course_credit,
      </if>
      <if test="courseHour != null">
        course_hour,
      </if>
      <if test="courseQuota != null">
        course_quota,
      </if>
      <if test="classroom != null">
        classroom,
      </if>
      <if test="courseType != null">
        course_type,
      </if>
      <if test="courseYear != null">
        course_year,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseCredit != null">
        #{courseCredit,jdbcType=REAL},
      </if>
      <if test="courseHour != null">
        #{courseHour,jdbcType=TINYINT},
      </if>
      <if test="courseQuota != null">
        #{courseQuota,jdbcType=INTEGER},
      </if>
      <if test="classroom != null">
        #{classroom,jdbcType=VARCHAR},
      </if>
      <if test="courseType != null">
        #{courseType,jdbcType=CHAR},
      </if>
      <if test="courseYear != null">
        #{courseYear,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.IMBA.entity.course_info">
    update course_info
    <set>
      <if test="courseName != null">
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseCredit != null">
        course_credit = #{courseCredit,jdbcType=REAL},
      </if>
      <if test="courseHour != null">
        course_hour = #{courseHour,jdbcType=TINYINT},
      </if>
      <if test="courseQuota != null">
        course_quota = #{courseQuota,jdbcType=INTEGER},
      </if>
      <if test="classroom != null">
        classroom = #{classroom,jdbcType=VARCHAR},
      </if>
      <if test="courseType != null">
        course_type = #{courseType,jdbcType=CHAR},
      </if>
      <if test="courseYear != null">
        course_year = #{courseYear,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.IMBA.entity.course_info">
    update course_info
    set course_name = #{courseName,jdbcType=VARCHAR},
      course_credit = #{courseCredit,jdbcType=REAL},
      course_hour = #{courseHour,jdbcType=TINYINT},
      course_quota = #{courseQuota,jdbcType=INTEGER},
      classroom = #{classroom,jdbcType=VARCHAR},
      course_type = #{courseType,jdbcType=CHAR},
      course_year = #{courseYear,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>