<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.IMBA.dao.schedule_backgroundMapper" >
  <resultMap id="BaseResultMap" type="com.IMBA.entity.schedule_background" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="student_id" property="studentId" jdbcType="INTEGER" />
    <result column="img_path" property="imgPath" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, student_id, img_path
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.IMBA.entity.schedule_backgroundKey" >
    select 
    <include refid="Base_Column_List" />
    from schedule_background
    where id = #{id,jdbcType=INTEGER}
      and student_id = #{studentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.IMBA.entity.schedule_backgroundKey" >
    delete from schedule_background
    where id = #{id,jdbcType=INTEGER}
      and student_id = #{studentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.IMBA.entity.schedule_background" >
    insert into schedule_background (id, student_id, img_path
      )
    values (#{id,jdbcType=INTEGER}, #{studentId,jdbcType=INTEGER}, #{imgPath,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.IMBA.entity.schedule_background" >
    insert into schedule_background
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="imgPath != null" >
        img_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="imgPath != null" >
        #{imgPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.IMBA.entity.schedule_background" >
    update schedule_background
    <set >
      <if test="imgPath != null" >
        img_path = #{imgPath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and student_id = #{studentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.IMBA.entity.schedule_background" >
    update schedule_background
    set img_path = #{imgPath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and student_id = #{studentId,jdbcType=INTEGER}
  </update>
</mapper>