<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.IMBA.dao.teaching_evaluationMapper" >
  <resultMap id="BaseResultMap" type="com.IMBA.entity.teaching_evaluation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="student_id" property="studentId" jdbcType="INTEGER" />
    <id column="teacher_id" property="teacherId" jdbcType="INTEGER" />
    <result column="satisfaction" property="satisfaction" jdbcType="REAL" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, student_id, teacher_id, satisfaction
  </sql>
  <select id="findsatisfaction" resultType="float" >
  select IFNULL(AVG(satisfaction),0) from teaching_evaluation where teacher_id=#{0}
  </select>

  <insert id="insertAndGetId" parameterType="com.IMBA.entity.teaching_evaluation" useGeneratedKeys="true" keyProperty="id">
    insert into teaching_evaluation (student_id, teacher_id,
      satisfaction)
    values (#{studentId,jdbcType=INTEGER}, #{teacherId,jdbcType=INTEGER},
      #{satisfaction,jdbcType=REAL})
  </insert>

  <select id="selectByStudentIdAndTeacherId" resultMap="BaseResultMap" parameterType="com.IMBA.entity.teaching_evaluationKey" >
    select
    <include refid="Base_Column_List" />
    from teaching_evaluation
    where  student_id = #{studentId,jdbcType=INTEGER}
    and teacher_id = #{teacherId,jdbcType=INTEGER}
  </select>







  <!--<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.IMBA.entity.teaching_evaluationKey" >-->
    <!--select -->
    <!--<include refid="Base_Column_List" />-->
    <!--from teaching_evaluation-->
    <!--where id = #{id,jdbcType=INTEGER}-->
      <!--and student_id = #{studentId,jdbcType=INTEGER}-->
      <!--and course_id = #{courseId,jdbcType=INTEGER}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="com.IMBA.entity.teaching_evaluationKey" >-->
    <!--delete from teaching_evaluation-->
    <!--where id = #{id,jdbcType=INTEGER}-->
      <!--and student_id = #{studentId,jdbcType=INTEGER}-->
      <!--and course_id = #{courseId,jdbcType=INTEGER}-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.IMBA.entity.teaching_evaluation" >-->
    <!--insert into teaching_evaluation (id, student_id, course_id, -->
      <!--satisfaction)-->
    <!--values (#{id,jdbcType=INTEGER}, #{studentId,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, -->
      <!--#{satisfaction,jdbcType=REAL})-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="com.IMBA.entity.teaching_evaluation" >-->
    <!--insert into teaching_evaluation-->
    <!--<trim prefix="(" suffix=")" suffixOverrides="," >-->
      <!--<if test="id != null" >-->
        <!--id,-->
      <!--</if>-->
      <!--<if test="studentId != null" >-->
        <!--student_id,-->
      <!--</if>-->
      <!--<if test="courseId != null" >-->
        <!--course_id,-->
      <!--</if>-->
      <!--<if test="satisfaction != null" >-->
        <!--satisfaction,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides="," >-->
      <!--<if test="id != null" >-->
        <!--#{id,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="studentId != null" >-->
        <!--#{studentId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="courseId != null" >-->
        <!--#{courseId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="satisfaction != null" >-->
        <!--#{satisfaction,jdbcType=REAL},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.IMBA.entity.teaching_evaluation" >-->
    <!--update teaching_evaluation-->
    <!--<set >-->
      <!--<if test="satisfaction != null" >-->
        <!--satisfaction = #{satisfaction,jdbcType=REAL},-->
      <!--</if>-->
    <!--</set>-->
    <!--where id = #{id,jdbcType=INTEGER}-->
      <!--and student_id = #{studentId,jdbcType=INTEGER}-->
      <!--and course_id = #{courseId,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.IMBA.entity.teaching_evaluation" >-->
    <!--update teaching_evaluation-->
    <!--set satisfaction = #{satisfaction,jdbcType=REAL}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
      <!--and student_id = #{studentId,jdbcType=INTEGER}-->
      <!--and course_id = #{courseId,jdbcType=INTEGER}-->
  <!--</update>-->
</mapper>