<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.IMBA.dao.videoMapper" >
  <resultMap id="BaseResultMap" type="com.IMBA.entity.video" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="video_series_id" property="videoSeriesId" jdbcType="INTEGER" />
    <result column="video_path" property="videoPath" jdbcType="VARCHAR" />
    <result column="video_title" property="videoTitle" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, video_series_id, video_path, video_title
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.IMBA.entity.videoKey" >
    select 
    <include refid="Base_Column_List" />
    from video
    where id = #{id,jdbcType=INTEGER}
      and video_series_id = #{videoSeriesId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.IMBA.entity.videoKey" >
    delete from video
    where id = #{id,jdbcType=INTEGER}
      and video_series_id = #{videoSeriesId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.IMBA.entity.video" >
    insert into video (id, video_series_id, video_path, 
      video_title)
    values (#{id,jdbcType=INTEGER}, #{videoSeriesId,jdbcType=INTEGER}, #{videoPath,jdbcType=VARCHAR}, 
      #{videoTitle,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.IMBA.entity.video" >
    insert into video
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="videoSeriesId != null" >
        video_series_id,
      </if>
      <if test="videoPath != null" >
        video_path,
      </if>
      <if test="videoTitle != null" >
        video_title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="videoSeriesId != null" >
        #{videoSeriesId,jdbcType=INTEGER},
      </if>
      <if test="videoPath != null" >
        #{videoPath,jdbcType=VARCHAR},
      </if>
      <if test="videoTitle != null" >
        #{videoTitle,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.IMBA.entity.video" >
    update video
    <set >
      <if test="videoPath != null" >
        video_path = #{videoPath,jdbcType=VARCHAR},
      </if>
      <if test="videoTitle != null" >
        video_title = #{videoTitle,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and video_series_id = #{videoSeriesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.IMBA.entity.video" >
    update video
    set video_path = #{videoPath,jdbcType=VARCHAR},
      video_title = #{videoTitle,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and video_series_id = #{videoSeriesId,jdbcType=INTEGER}
  </update>

  <select id="getCount" resultType="java.lang.Integer">
    select count(*) from video
  </select>

</mapper>